img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 5px;
    border: 1px solid;
}

figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 2em auto;
    max-width: 100%;
}

figure img {
    max-height: 500px;
    width: auto;
}

@media screen and (min-width: 600px) {
    figure {
        padding: 0 40px;
    }
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: "↳ ";
}
